form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"] {
    margin-left: 1rem;
}

.fetchBtn {
    background-color: rgb(14, 238, 14);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
}

.placeholder {
    border-radius: 0.5rem;
    width: 500px;
    padding: 0.5rem;
}

.liItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}