.card {
    width: 600px;
    margin: 1rem auto 4rem;

    .cardTop {
        background-color: #cccccc;
        height: 400px;
        border-radius: 20px 20px 0 0;
        box-shadow: 0 0 3px lightgrey;

        img {
            border-radius: 20px 20px 0 0;
            object-fit: contain;
        }

    }

    .cardBottom {
        background-color: white;
        padding: 0.75rem;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 0 3px lightgrey;
    }
}

.mt1 {
    margin-top: 1rem;
}

.html {
    color: red;
}

.css {
    color: lightskyblue;
}

.js {
    color: yellow;
}

.php {
    color: lightsteelblue;
}